<a href="https://colab.research.google.com/github/ajit04022000/python_100_que_and_ans/blob/main/python_practice_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##<b>1) User will input (3ages).Find the oldest one

In [ ]:
first = int(input("enter thr 1st age : "))
second = int(input("enter thr 2nd age : "))
third = int(input("enter thr 3rd age : "))
new_list = []
new_list.append(first)
new_list.append(second)
new_list.append(third)
print("the oldest age is :" )
sorted(new_list)[-1]

enter thr 1st age : 55
enter thr 2nd age : 78
enter thr 3rd age : 11
the oldest age is :

78

##<b>2) Write a program that will convert celsius value to fahrenheit

The formula for Fahrenheit to Celsius is °C = [(°F-32)×5]/9

In [ ]:
far  = int(input("calculating the celcius of : "))
def far_cel (far):
  cel = (far-32)*5/9
  return cel
print(f"the celsius of {far} is : {int(far_cel(far))}")

calculating the celcius of : 5
the celsius of 5 is : -15

##<b> 3)User will input (2numbers).Write a program to swap the numbers

In [ ]:
# To take inputs from the user
x = input('Enter value of x: ')
y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 55
Enter value of y: 11
The value of x after swapping: 11
The value of y after swapping: 55

##<b>4)Write a program that will give you the sum of 3 digits

In [ ]:
first = int(input('give the 1st number : '))
second = int(input('give the 2st number : '))
third = int(input('give the 3st number : '))

def summation(first,second,third):
  adding = (first+second+third)
  return adding
print(f"the summation of first,second,third is : {summation(first,second,third)}")

give the 1st number : 5
give the 2st number : 5
give the 3st number : 5
the summation of first,second,third is : 15

In [ ]:
summation(1,5,6)

12

##<b>5) Write a program that will reverse a four digit number.Also it checks whether the reverse is true.

In [ ]:
num = int(input("input the four degits number :"))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

input the four degits number :1234
Reversed Number: 4321

In [ ]:
## its also a string slicing method to the same task
num = int(input("input the four degits number :"))
print(f'Reversed Number: {str(num)[::-1]}')

input the four degits number :4567
Reversed Number: 7654

##<b>6)Write a program that will tell whether the number entered by the user is odd or even.

In [ ]:
def fid_num(num):
  if num%2==0:
    print(f"the number {num} is a even number")
  else:
    print(f"the number {num} is a odd number")

In [ ]:
num = int(input("input the number :"))
fid_num(num)

In [ ]:
## another approach

num = int(input("input the number :"))
if num%2==0:
  print(f"the number {num} is a even number")
else:
  print(f"the number {num} is a odd number")

input the number :5
the number 5 is a odd number

##<b> 7)Write a program that will tell whether the given year is a leap year or not.

In [ ]:
year=int(input("Enter year to be checked:")) 
if(year%4==0 and year%100!= 0 or year%400==0):
  print("The year is a leap year!") 
else:
  print("The year isn't a leap year!")

Enter year to be checked:2018
The year isn't a leap year!

##<b>8)Write a program to find the euclidean distance between two coordinates.

In [ ]:
x1=int(input("enter x1 : "))
x2=int(input("enter x2 : "))
y1=int(input("enter y1 : "))
y2=int(input("enter y2 : "))
result= ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)
# print(f'the euclidean distance between two coordinates:{result}')
print("distance between",(x1,x2),"and",(y1,y2),"is : ",result)

enter x1 : 4
enter x2 : 6
enter y1 : 0
enter y2 : 6
distance between (4, 6) and (0, 6) is :  6.324555320336759

In [ ]:
## another approach
import math

a=input("enter first coordinate : ")
p1 = a.split(",")
b=input("enter second coordinate : ")
p2 = b.split(",")
distance = math.sqrt( ((int(p1[0])-int(p2[0]))**2)+((int(p1[1])-int(p2[1]))**2) )
print("distance between ", a,"and", b, "is",distance)

enter first coordinate : 4,0
enter second coordinate : 6,6
distance between  4,0 and 6,6 is 6.324555320336759

##<b>9)Write a program that take a user inputr of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Python Program to check Triangle is Valid or Not

a = int(input('Please Enter the First Angle of a Triangle: '))
b = int(input('Please Enter the Second Angle of a Triangle: '))
c = int(input('Please Enter the Third Angle of a Triangle: '))

# checking Triangle is Valid or Not
total = a + b + c

if total == 180:
    print("\nThis is a Valid Triangle")
else:
    print("\nThis is an Invalid Triangle")

Please Enter the First Angle of a Triangle: 45
Please Enter the Second Angle of a Triangle: 75
Please Enter the Third Angle of a Triangle: 60

This is a Valid Triangle

##<b>10)Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [ ]:
cp=float(input("Enter the Cost Price : "));
sp=float(input("Enter the Selling Price : "));
if cp==sp:
    print("No Profit No Loss")
else:
    if sp>cp:
        print("Profit of ",sp-cp)
    else:
        print("Loss of ",cp-sp)

Enter the Cost Price : 55
Enter the Selling Price : 13
Loss of  42.0

##<b>11)Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

In [ ]:
p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time: "))

si = p * r * t / 100

print("Simple Interest =", si)

Enter principal: 55000.75
Enter rate: 14.5
Enter time: 3
Simple Interest = 23925.32625

##<b>12)Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.

In [ ]:
pi=22/7
height = float(input('Height of cylinder: '))
radian = float(input('Radius of cylinder: '))
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume is: ", volume)
print("Surface Area is: ", sur_area)

Height of cylinder: 6
Radius of cylinder: 4
Volume is:  301.7142857142857
Surface Area is:  251.42857142857144

##<b>13)Write  a program that will tell whether the given number is divisible by 3 & 6.

In [ ]:
num = int(input("GICE ME THE NUMBER: "))
if num%3 == 0:
  print(f"the number {num} is devisible by 3")
  if num%6 == 0:
    print(f"the number {num} is devisible by 6")
else:
  print(f"the {num} is not devisible by 3 or 6")

GICE ME THE NUMBER: 3
the number 3 is devisible by 3

##<b>14)Write a program that will determine weather when the value of temperature and humidity is provided by the user.
      TEMPERATURE(C)      HUMIDITY(%)          WEATHER

---



      >= 30               >=90                Hot and Humid
      >= 30               < 90                Hot
      <30                 >= 90               Cool and Humid
      <30                 <90                 Cool

In [ ]:
temp = int(input("give me the temperature : "))
humi = int(input("give me the humidity : "))

if temp>=30 & humi>=90:
  print("Hot and Humid")
elif temp>=30 & humi<90:
  print("hot")
elif temp<30 & humi>=90:
  print('Cool and Humid')
elif temp<30 & humi<90:
  print("Cool")
else:
  print("ERROR 800")

give me the temperature : 50

##<b>15)Write a program that will take three digits from the user and add the square of each digit.

In [ ]:
def sqursum(a,b,c):
  sqresum = a**2+b**2+c**2
  print(f'the squre addation of {a},{b},{c} is : {sqresum}')

In [ ]:
sqursum(2,2,2)

the squre addation of 2,2,2 is : 12

##<b>16)Write a program that will check whether the number is armstrong number or not.

In [ ]:
# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 111
111 is not an Armstrong number

##<b>17)Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.

In [ ]:
def is_narcissistic_num(num):
	return num == sum([int(x) ** len(str(num)) for x in str(num)])

print(is_narcissistic_num(153))
print(is_narcissistic_num(370))
print(is_narcissistic_num(407))
print(is_narcissistic_num(409))
print(is_narcissistic_num(1634))
print(is_narcissistic_num(8208))
print(is_narcissistic_num(9474))
print(is_narcissistic_num(9475))

In [ ]:
## another approach
n=input()
m=int(n)
s=0
q=m
while(m!=0):
    p=m%10
    s+=p**(len(n))
    m=m//10
if(s==q):
    print('Yes')
else:
    print('No')

153
Yes

##<b>18)Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh–10%),(11-20lakh–20%),(20< _   – 30%)(0-1lakh print k).

In [ ]:
user_input= float(input("Enter your annual salary:"))
if user_input> 500000 and user_input < 1000000:
  tax = (10/100)*user_input
  temp_salary =  user_input - tax
elif user_input  > 1000000 and user_input < 2000000:
   tax = (20/100)*user_input
   temp_salary = user_input - tax
else:
  tax = (30/100) *user_input
  temp_salary =  user_input - tax
print("After salary reduction:",temp_salary)
 
hra = (10/100)*temp_salary
da = (5/100)*temp_salary 
pf =  (3/100) *temp_salary

in_handsalary = (temp_salary - hra - da - pf)/12
print("in hand salary: ",in_handsalary)

if in_handsalary <= 999:
  print(in_handsalary)
elif in_handsalary>= 1000 and in_handsalary <= 9999:
  print(in_handsalary/1000, "k")
elif in_handsalary >= 100000 and in_handsalary <=9999999:
  print(in_handsalary/1000000, "l")
else:
  print(in_handsalary/10000000, "Cr")

Enter your annual salary:600000000
After salary reduction: 420000000.0
in hand salary:  28700000.0
2.87 Cr

##<b>19)Write a menu driven program - 
1.cm to inch   
2.kl to miles  
3.usd to inr  
4.exit

In [ ]:
while True:
    print("Menu Driven Program")
    print("1.Convert Centimeter to inches")
    print("2.Convert KiloMeter to Mile")
    print("3.Convert USD to INR")    
    print("4.Exit")
    choice=int(input("Enter your choice:"))
    if choice==1:
        cm=float(input("Enter Cm:"))
        print("Centimeter to inches",cm * 0.394)
        print("**********************************")
    
    elif choice==2:
        km=float(input("Enter Kilometer:"))
        # mile=int(input("Enter breadth of Rectangle:"))
        print("kilometer to mile:",km*0.621)
        print("**********************************")
    
    elif choice==3:
        usd=float(input("Enter the USD:"))
        print("USD to INR:",usd*76.63)
        print("**********************************")
        
    elif choice==4:
      print("exit")
      print("**********************************")
      break
    else:
        print("Wrong Choice")
        print("**********************************")

Menu Driven Program
1.Convert Centimeter to inches
2.Convert KiloMeter to Mile
3.Convert USD to INR
4.Exit
Enter your choice:1
Enter Cm:45
Centimeter to inches 17.73
**********************************
Menu Driven Program
1.Convert Centimeter to inches
2.Convert KiloMeter to Mile
3.Convert USD to INR
4.Exit
Enter your choice:5
Wrong Choice
**********************************
Menu Driven Program
1.Convert Centimeter to inches
2.Convert KiloMeter to Mile
3.Convert USD to INR
4.Exit
Enter your choice:2
Enter Kilometer:5
kilometer to mile: 3.105
**********************************
Menu Driven Program
1.Convert Centimeter to inches
2.Convert KiloMeter to Mile
3.Convert USD to INR
4.Exit
Enter your choice:3
Enter the USD:567
USD to INR: 43449.21
**********************************
Menu Driven Program
1.Convert Centimeter to inches
2.Convert KiloMeter to Mile
3.Convert USD to INR
4.Exit

##<b>20) Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

In [ ]:
def give_leg_head(leg,head):
  if leg== 4 and head==1:
    print("this is a dog")
  elif leg==2  and head == 1:
    print("this a chicken")
  else:
    print("ask me only about the dog and chicken")

In [ ]:
give_leg_head(6,1)

ask me only about the dog and chicken

#<b>21)Write a program that will swap numbers

In [2]:
# Python program to swap two variables
# To take inputs from the user
x = input('Enter value of x: ')
y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 5
Enter value of y: 6
The value of x after swapping: 6
The value of y after swapping: 5

#<b>22)Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.

In [17]:
# Sum of natural numbers up to num
num = int(input("enter the no : "))
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

enter the no : 5
The sum is 15

#<b>23)Write a program that can multiply 2 numbers provided by the user without using the * operator